<header>
  <nav class="main-nav">
    <ul>
      <li>
        <ul>
          <li><a class="active">about</a></li>
          <li><a>works</a></li>
          <li><a>Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section id="video" class="home">
  <h1>Home Page</h1>
  <h2>Can only be accessed after logging in</h2>
</section>
<section id="main-content">
  <div class="text-intro">
    <h2>Hire me?</h2>
    <h2>I know</h2>

  </div>
  <div class="columns features">
    <div class="one-third first">
      <h3>Angular</h3>
      <p>Bacon ipsum dolor sit amet cow ham beef, ground round t-bone meatloaf fatback sirloin pork chop swine pig.
        Venison shoulder prosciutto turkey tri-tip kielbasa andouille ham hock beef ribs. Meatloaf meatball doner filet
        mignon shankle.</p>
    </div>
    <div class="one-third">
      <h3>HTML5/CSS3</h3>
      <p>Chuck venison short ribs, pork loin strip steak turducken chicken boudin doner tail cow pork chop spare ribs.</p>
    </div>
    <div class="one-third">
      <h3>Node.js</h3>
      <p>Capicola prosciutto shankle frankfurter ham hock. Beef ribs t-bone rump, short ribs jerky turkey ham capicola
        pancetta filet mignon turducken boudin biltong venison shank.</p>
    </div>
  </div>
</section>
<p class="bottom-text">This is just a placeholder page. Couldn't leave empty for no reason. Reach me at
  <a href="mailto:jsbhullar96@gmail.com?Subject=InternShala%20Tap%20In" target="_top"> Mail</a>
</p>
