<div class="header">
  <div class="header-main">
    <h1>Classy Login Form</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">

        <div class="header-left-bottom agileinfo">

          <form action="#" method="post">
            <input type="text" value="User name" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
            <input type="password" value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
            <div class="remember">
              <span class="checkbox1">
                <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>
              </span>
              <div class="forgot">
                <h6><a href="#">Forgot Password?</a></h6>
              </div>
              <div class="clear"> </div>
            </div>

            <input type="submit" value="Login">
          </form>
          <div class="header-left-top">
            <div class="sign-up">
              <h2>or</h2>
            </div>

          </div>
          <div class="header-social wthree">
            <a href="#" class="face">
              <h5>Facebook</h5>
            </a>
            <a href="#" class="twitt">
              <h5>Twitter</h5>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
