* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background: #efefef;
}

a {
  text-decoration: none;
  transition: 0.5s all;
  color: inherit;

  &:hover {
    transition: 0.5s all;

  }
}

img {
  max-width: 100%;
}

label {
  margin: 0;
}
