/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

/* start editing from here */
a {
  text-decoration: none;
  transition: 0.5s all;

  &:hover {
    transition: 0.5s all;

  }
}

/* horizontal menu */
img {
  max-width: 100%;
}

label {
  margin: 0;
}
